@page "/account/{email}"

<div class="w-full h-full bg-gray-200">
    <header class="py-10 px-20">
        <AccountHeader User="User" />
    </header>
    <main class="w-full h-150 px-20">
        <AccountBody User="User" />
    </main>
</div>