@page "/test"

<h3>This is mine test component</h3>

<div>
    <h4>Let try to get all the users</h4>
    @foreach (var user in _users) 
    {
        <p>UserName: @user.Username</p>
        <p>Email: @user.Email</p>
        <p>FirstName: @user.FirstName</p>
        <p>LastName: @user.LastName</p>
    }
</div>