<div class="w-full h-full">
    <div class="w-3/4 h-96 py-10 px-10">
        <img src=@User.ImageUrl class="w-full h-full object-cover rounded-full" />
    </div>
    <table class="ml-10 mt-5">
        <tr>
            <td class="pr-32 font-bold">Full Name:</td>
            <td>@User.FirstName @User.LastName</td>
        </tr>
        <tr>
            <td class="pr-32 font-bold">Email:</td>
            <td>@User.Email</td>
        </tr>
        <tr>
            <td class="pr-32 font-bold">User name:</td>
            <td>@User.Username</td>
        </tr>
    </table>
</div>