<div class="w-full h-full flex bg-white">
    <div class="border-r border-gray-400 h-full w-1/3">
        <AccountBodyCard User="User" />
    </div>
    <div>
        <AccountBodyDetails User="User" />
    </div>
</div>
