<ul class="flex w-full h-full">
    <li class="relative flex flex-col my-2 mx-10 overflow-hidden h-64 w-full/4 border-2 border-black rounded-lg shadow-lg">
        <img src="/koala.webp"/>
        <a href="/visit" class="flex items-center text-white justify-center flex-1 h-full w-full bg-black hover:bg-orange-500 duration-300 hover:text-gray-800 after:absolute after:inset-0">Plan Your Visit</a>
    </li>
    <li class="relative flex flex-col my-2 mx-10 overflow-hidden h-64 w-full/4 border-2 border-black rounded-lg shadow-lg">
        <img src="/koala.webp"/>
        <a href="/conservation" class="flex items-center text-white justify-center flex-1 h-full w-full bg-black hover:bg-orange-500 duration-300 hover:text-gray-800 after:absolute after:inset-0">Animal Conservation</a>
    </li>
    <li class="relative flex flex-col my-2 mx-10 overflow-hidden h-64 w-full/4 border-2 border-black rounded-lg shadow-lg">
        <img src="/koala.webp"/>
        <a href="/education" class="flex items-center text-white justify-center flex-1 h-full w-full bg-black hover:bg-orange-500 duration-300 hover:text-gray-800 after:absolute after:inset-0">Education</a>
    </li>
    <li class="relative flex flex-col my-2 mx-10 overflow-hidden h-64 w-full/4 border-2 border-black rounded-lg shadow-lg">
        <img src="/koala.webp"/>
        <a href="/business" class="flex items-center text-white justify-center flex-1 h-full w-full bg-black hover:bg-orange-500 duration-300 hover:text-gray-800 after:absolute after:inset-0">Offer For Business</a>
    </li>
</ul>
