@inherits LayoutComponentBase

<div class="w-screen h-screen bg-gray-100">
    <div class="bg-black h-25 w-screen pt-5 pl-16">
        <img src="/blazor-zoo.png" />
    </div>

    <div class="flex h-full">
        <NavMenu />
        <div class="flex">
            <div class="px-4">
                @Body
            </div>
        </div>
    </div>
    
</div>
