<div>
    <nav class="w-100 h-full bg-black block">
        <a href="" class="w-full h-25 block border-2 border-black border-light text-3xl text-center text-white border-radius-2 pt-10 hover:underline">Home</a>
        <a href="" class="w-full h-25 block border-2 border-black border-light text-3xl text-center text-white border-radius-2 pt-10 hover:underline">Account</a>
        <a href="" class="w-full h-25 block border-2 border-black border-light text-3xl text-center text-white border-radius-2 pt-10 hover:underline">News</a>
    </nav>
</div>