<nav class="w-full h-full items-center bg-black block">
    <a href="" class="w-full h-25 block text-center pt-10 text-3xl border-b border-transparent hover:border-white transition-colors duration-300 text-white">Home</a>
    <a href="/account/auth" class="w-full h-25 block text-center pt-10 text-3xl border-b border-transparent hover:border-white transition-colors duration-300 text-white">Account</a>
    <a href="" class="w-full h-25 block text-center pt-10 text-3xl border-b border-transparent hover:border-white transition-colors duration-300 text-white">News</a>
</nav>